body {
    min-height: 100vh;
    margin: 0;
    padding: 0;
    background-color: honeydew;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.heading {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    font-size: 36px;
    font-weight: 800;
    margin-bottom: 50px;
}

ul {
    display: flex;
    margin: 0;
    padding: 0;
    list-style-type: none;
    justify-content: space-around;
}

li {
    font-size: 20px;
    font-weight: 600;
}

.round_scores {
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 50px;
}

.play_btn {
    display: flex;
    justify-content: center;
    align-items: center;
}

.play_round_btn {
    width: 250px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.weapon_title {
    margin-top: 75px;
    text-align: center;
    font-size: 24px;
    margin-bottom: 30px;
}


.choices {
    display: flex;
    justify-content: space-around;
}

.choice {
    height: 200px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    font-size: 24px;
    font-weight: bold;
    font-family: 'Courier New', monospace;
}

.choice > button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 125px;
    height: 50px;
}

.round_choices {
    display: flex;
    flex-direction: column;
    margin: 50px 50px 0 50px;
    gap: 35px;
}

.human_choice, .computer_choice {
    display: flex;
    gap: 10px;
    font-size: 24px;
    flex-wrap: wrap;
    font-family: "Courier New", monospace;
    font-weight: normal;
}

.result {
    text-align: center;
    font-family: "Courier New", monospace;
    font-size: 24px;
    margin-bottom: 5px;
    font-weight: normal;
}

.message {
    margin-top: 5px;
    font-size: 22px;
    text-align: center;
    font-weight: 600;
}